html {
	min-height: 100vh;
}

body {
	min-height: 100vh;
	overflow-x: hidden;
}

h3, h4 {
	cursor: pointer;
}

.modal-dialog {
	max-width: 100vw;
}

nav {
	background-image: linear-gradient(#0271f1, #0084ff);
}

nav a {
	margin-right: 10px;
	margin-left: 10px;
}

nav a {
	text-decoration: none;
	color: white;
}

nav a:hover {
	text-decoration: none;
	color: #cccccc;
}

ul {
	padding: 0;
}

.min-height {
	min-height: 80vh;
}

#profile-pic {
	width: 100%;
	height: auto;
}

.profile-post {
	background-color: white;
}

footer {
	color: #858585;
	background-color: #1a1a1a;
}

i {
	cursor: pointer;
}