body {
	/* background-image: url("../img/circle-blues.png");
    background-repeat: repeat;
    background-attachment: fixed;
    overflow-x: hidden; */
}

nav {
	background-image: linear-gradient(#0271f1, #00c3ff);
}

.nav-btn a {
	text-decoration: none;
	color: white;
}

#profile-pic {
	width: 100%;
	height: auto;
}